<html>
<head>
  $INC:common_head_contents$
  <title>$CON:title$</title>
</head>
<body>
  <div class="container">
    $INC:navbar$
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron mt-3">
          <img src="/i/logo.png" width="64px">
          <h1>モバログ！</h1>
          <p>
            モバログ！はPerlのWebフレームワーク、MobaSiFで作られたサンプルアプリケーションです。
            記事を見たり、ユーザ登録をすれば書くこともできますよ。
          </p>
          $ if (!USER_ID) { $
            <a class="btn btn-lg btn-primary" href="/user/new">ユーザ登録</a>
          $ } $
        </div>
      </div>
    </div>
  </div>

  $INC:common_scripts$
</body>
</html>
