<html>
<head>
  $INC:common_head_contents$
  <title>$CON:title$</title>
</head>
<body>
  <div class="container">
    $INC:navbar$
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1>MobaSiF Sampleへようこそ！</h1>
          <p>
            MobaSiF Sampleではいろいろなひとたちのステキなブログをみることができます！
          </p>
          <p>
            もちろん会員登録をすれば、あなたも見るだけではなく、書くこともできます！
          </p>
          <a class="btn btn-success btn-lg" href="/user/new">さあ、はじめましょう！</a>
        </div>
      </div>
    </div>
  </div>

  $INC:common_scripts$
</body>
</html>
